.elementor-718 .elementor-element.elementor-element-4f6a9d1a{overflow:visible;}.elementor-718 .elementor-element.elementor-element-7a495a0{text-align:center;}.elementor-718 .elementor-element.elementor-element-791578c{overflow:visible;}.elementor-718 .elementor-element.elementor-element-b79e215 .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-718 .elementor-element.elementor-element-39fd2f0{overflow:visible;}.elementor-718 .elementor-element.elementor-element-0a9fd76{overflow:visible;}/* Start custom CSS for image, class: .elementor-element-b6837a5 */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */
/* Start custom CSS */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */