.elementor-733 .elementor-element.elementor-element-76493743{overflow:visible;}.elementor-733 .elementor-element.elementor-element-6c04048{text-align:center;}.elementor-733 .elementor-element.elementor-element-bb95502{overflow:visible;}.elementor-733 .elementor-element.elementor-element-c0c3ec7 .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-733 .elementor-element.elementor-element-2592e47{overflow:visible;}.elementor-733 .elementor-element.elementor-element-3a2fe46{overflow:visible;}/* Start custom CSS for image, class: .elementor-element-beedcc6 */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */
/* Start custom CSS */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */