.elementor-721 .elementor-element.elementor-element-6a56a5a5{overflow:visible;}.elementor-721 .elementor-element.elementor-element-b2f0c32{text-align:center;}.elementor-721 .elementor-element.elementor-element-1c3b6ee{overflow:visible;}.elementor-721 .elementor-element.elementor-element-f29989b .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-721 .elementor-element.elementor-element-8c17c7f{overflow:visible;}.elementor-721 .elementor-element.elementor-element-20db913{overflow:visible;}/* Start custom CSS for image, class: .elementor-element-1960aa8 */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */
/* Start custom CSS */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */