.elementor-817 .elementor-element.elementor-element-61b8165{overflow:visible;}.elementor-817 .elementor-element.elementor-element-96c6056{text-align:center;}.elementor-817 .elementor-element.elementor-element-6024db0{overflow:visible;}.elementor-817 .elementor-element.elementor-element-e277cc5 .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-817 .elementor-element.elementor-element-63b4a718{overflow:visible;}.elementor-817 .elementor-element.elementor-element-0eab86f{overflow:visible;}.elementor-817 .elementor-element.elementor-element-f64911a{overflow:visible;}/* Start custom CSS for heading, class: .elementor-element-96c6056 */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-575a49c */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */