.elementor-724 .elementor-element.elementor-element-878dfd6{overflow:visible;}.elementor-724 .elementor-element.elementor-element-1d56c15{text-align:center;}.elementor-724 .elementor-element.elementor-element-73f64f7{overflow:visible;}.elementor-724 .elementor-element.elementor-element-1494b82 .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-724 .elementor-element.elementor-element-568f82ef{overflow:visible;}.elementor-724 .elementor-element.elementor-element-16a697a{overflow:visible;}.elementor-724 .elementor-element.elementor-element-e79ccff{overflow:visible;}/* Start custom CSS for image, class: .elementor-element-8d50e12 */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */
/* Start custom CSS */.elementor-nav-menu--main a {
    color: orange !important;
    font-weight: 600;
    font-size: 1.1rem;
}/* End custom CSS */