<article class="cms-block cms-event">
  <div class="cms-event__date">
    <strong>{{ block.content.date or "Date TBD" }}</strong>
    {% if block.content.time %}<span>{{ block.content.time }} {{ block.content.timezone }}</span>{% endif %}
  </div>
  <div>
    <h2>{{ block.content.title }}</h2>
    {% if block.content.location %}<p class="cms-meta">{{ block.content.location }}</p>{% endif %}
    {% if block.content.description %}<p>{{ block.content.description }}</p>{% endif %}
    <div class="cms-button-pair">
      {% if block.content.registration_url %}<a class="cms-button cms-button--green" href="{{ block.content.registration_url }}" data-track-event="event_registration_click" data-track-category="event" data-track-label="{{ block.content.title }}" data-track-id="{{ block.id }}" data-track-position="cms-event" data-track-content-id="{{ item.id if item is defined else '' }}" data-track-content-type="{{ item.content_type if item is defined else '' }}" data-event-id="{{ block.id }}" data-track-impression="1">Register</a>{% endif %}
      {% if block.content.calendar_url %}<a class="cms-button cms-button--orange" href="{{ block.content.calendar_url }}">Add to calendar</a>{% endif %}
    </div>
  </div>
</article>
